<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polarbear.lim.dao.interfaces.CommentMapper">
<!-- Read -->
<select id = "getCommentbyId" resultType="com.polarbear.lim.dto.Comment" parameterType="com.polarbear.lim.dto.Animal">
	select * from adopt_comment where comment_a_id = ${animal_id} order by comment_num desc
</select>
</mapper>